.toast {
  max-width: 256px;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  right: 40px;
}

.toast-success {
  background-color: green;
}

.toast-error {
  background-color: rgb(155, 23, 23);
}